################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Projects/FileContentIndex/40619f6f-7543-4d02-b900-aeb2e85b48dd.vsidx
